@font-face {
  font-family: "CherrySwash";
  font-display: swap;
  src: url("../fonts/CherrySwash-Regular.woff") format("woff"), url("../fonts/CherrySwash-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaBold";
  font-display: swap;
  src: url("../fonts/HelveticaLTStdBold.woff") format("woff"), url("../fonts/HelveticaLTStdBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url("../fonts/HelveticaLTStdRoman.woff") format("woff"), url("../fonts/HelveticaLTStdRoman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLight";
  font-display: swap;
  src: url("../fonts/HelveticaLTStdLight.woff") format("woff"), url("../fonts/HelveticaLTStdLight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaCond";
  font-display: swap;
  src: url("../fonts/HelveticaLTStdCond.woff") format("woff"), url("../fonts/HelveticaLTStdCond.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  background-color: #4c98a3;
  padding: 33px 0px 33px 0px;
}

.header__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.header__menu-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  font-family: "HelveticaCond";
  text-transform: uppercase;
  line-height: 25px;
  font-size: 18px;
}

.header__menu-list a {
  color: #dce3e4;
}

.container {
  max-width: 961px;
  margin: 0 auto;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  max-width: 1340px;
  margin: 0 auto;
  position: relative;
  padding: 0px 70px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 30px;
  height: 50px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  font-size: 0;
  background: url("../img/slider/arrows/arrows.png") 0 0/100% no-repeat;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
  opacity: 0.4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.slider .slick-arrow.slick-prev:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.slider .slick-arrow.slick-next {
  right: 0;
  font-size: 0;
  background: url("../img/slider/arrows/arrows.png") 0 0/100% no-repeat;
  opacity: 0.4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.slider .slick-arrow.slick-next:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
  padding: 15px 0px 0px 0px;
}

.slider .slick-dots button {
  font-size: 0;
  height: 10px;
  width: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 0px 5px;
}

.slider .slick-dots li.slick-active button {
  background-color: #000;
}

.slider__one {
  position: relative;
}

.slider__content {
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 50%;
  margin-left: -250px;
  max-width: 500px;
  max-height: 184px;
  text-align: center;
}

.slider__title {
  font-family: "Helvetica";
  font-size: 44px;
  line-height: 58px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e4e4e4;
  padding: 0px 0px 47px 0px;
}

.slider__button {
  font-family: "Helvetica";
  border: 3px solid #afb1b4;
  max-width: 233px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 300;
  line-height: 58px;
  border-radius: 10px;
}

.slider__button a {
  color: #e4e4e4;
}

.navigation {
  padding: 80px 0px 0px 0px;
}

.navigation__columns {
  display: grid;
  max-width: 900px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

.navigation__column {
  max-width: 300px;
  text-align: center;
  padding: 30px 0px 0px 0px;
  border-top: 3px solid #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navigation__column:hover {
  border-top: 10px solid #000;
  padding: 23px 0px 0px 0px;
}

.navigation__column:hover .navigation__img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navigation__column:hover .navigation__img:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.navigation__img {
  padding: px 0px 0px 0px;
}

.navigation__title {
  font-family: "HelveticaLight";
  font-size: 30px;
  font-weight: 500;
  color: #4c505d;
  padding: 15px 0px 0px 0px;
}

.navigation__text {
  font-family: "Helvetica";
  color: #4c505d;
  padding: 15px 0px 0px 0px;
  opacity: 0.9;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.column__one {
  border-color: #75c281;
}

.column__one:hover {
  border-color: #75c281;
}

.column__two {
  border-color: #cc6493;
}

.column__two:hover {
  border-color: #cc6493;
}

.column__three {
  border-color: #6bb6de;
}

.column__three:hover {
  border-color: #6bb6de;
}

.column__four {
  border-color: #a473b5;
}

.column__four:hover {
  border-color: #a473b5;
}

.column__five {
  border-color: #78c9cc;
}

.column__five:hover {
  border-color: #78c9cc;
}

.column__six {
  border-color: #f68c32;
}

.column__six:hover {
  border-color: #f68c32;
}

.webp .slider .slick-arrow.slick-prev { background: url(../img/slider/arrows/arrows.webp) 0 0/100% no-repeat; }

.webp .slider .slick-arrow.slick-next { background: url(../img/slider/arrows/arrows.webp) 0 0/100% no-repeat; }